.DS_Store
/website/node_modules/
/website/dist/
/website/*-debug.log*
/website/.DS_Store
/Api/.DS_Store
/Api/vendor
.idea
/Api/.idea
/Api/upload/
/website/.idea
/website/test/unit/coverage/
/website/e2e/reports/
/website/selenium-debug.log
